@import "tailwindcss";

:root {
  --background: #f7faf9;
  --foreground: #0f172a;
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading), serif;
}
